<h2>User Login</h2>
<br>
<div class="container">
  <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Your Username">
      <small [hidden]="myForm.controls.username.valid || (myForm.controls.username.pristine)" class="text-danger">
        Invalid Username length.
      </small>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Your Password">
      <small [hidden]="myForm.controls.password.valid || (myForm.controls.password.pristine)" class="text-danger">
        Invalid Password pattern.
      </small>
    </div>

    <button type="submit" class="btn btn-default btn-primary" [disabled]="!myForm.valid">
      Submit
    </button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-default btn-primary" (click)="onCancel()">
      Cancel
    </button>
    <spinner [visible]="isLoading"></spinner>
  </form>

  <br/>
  <div class="text-danger">
    {{errorMsg}}
  </div>

</div>
