<br/>
<div class="table">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4 mx-auto text-center">
      <div class="card">
        <a href=".#/ext/create-user" class="card-block">
          <img class="card-img-top" src="../../assets/images/add-user.png" height="256" width="256"
               alt="Forgot Password Image">
          <div class="card-block">
            <h4 class="card-title">Register New User</h4>
            <div class="text-muted">Click here to register a new user.</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 mx-auto text-center">
      <div class="card">
        <a href=".#/ext/security-questions" class="card-block clearfix">
          <img class="card-img-top" src="../../assets/images/sec-profile.jpg" height="256" width="256"
               alt="Secret Questions Image">
          <div class="card-block">
            <h4 class="card-title">Security Profile</h4>
            <div class="text-muted">Click here to update security profile.</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4 mx-auto text-center">
      <div class="card">
        <a href=".#/ext/change-pwd" class="card-block">
          <img class="card-img-top" src="../../assets/images/change-pwd.png" height="256" width="256"
               alt="Change Password Image">
          <div class="card-block">
            <h4 class="card-title">Change Password</h4>
            <div class="text-muted">Click here to change your password.</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 mx-auto text-center">
      <div class="card">
        <a href=".#/ext/reset-pwd" class="card-block clearfix">
          <img class="card-img-top" src="../../assets/images/forgot-pwd.jpg" height="256" width="256"
               alt="Reset Password Image">
          <div class="card-block">
            <h4 class="card-title">Reset Password</h4>
            <div class="text-muted">Click here to reset your password.</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<!--
<div class="card-group">
  <div class="card">
    <a href=".#/ext/reset-pwd" class="card-block clearfix">
      <img class="card-img-top" src="../../assets/images/forgot-pwd.jpg" alt="Forgot Password Image">
      <div class="card-block">
        <h4 class="card-title">Forgot Your Password?</h4>
        <p class="card-text">
          <small class="text-muted">Click here to reset your password.</small>
        </p>
      </div>
    </a>
  </div>
  <div class="card">
    <a href=".#/ext/change-pwd" class="card-block clearfix">
      <img class="card-img-top" src="../../assets/images/change-pwd.png" alt="Change Password Image">
      <div class="card-block">
        <h4 class="card-title">Change Your Password</h4>
        <p class="card-text">
          <small class="text-muted">Click here to change your current password.</small>
        </p>
      </div>
    </a>
  </div>
  <div class="card">
    <a href=".#/ext/create-user" class="card-block clearfix">
      <img class="card-img-top" src="../../assets/images/add-user.png" alt="Create User Image">
      <div class="card-block">
        <h4 class="card-title">Create New User</h4>
        <p class="card-text">
          <small class="text-muted">Click here to add a new user to your account.</small>
        </p>
      </div>
    </a>
  </div>
</div>
-->
