<br/><br/>
<div class="card-group">
  <div class="card">
    <a href=".#/pwm/reset" class="card-block clearfix">
      <img class="card-img-top" src="../../assets/images/forgot-pwd.jpg" alt="Forgot Password Image">
      <div class="card-block">
        <h4 class="card-title">Forgot Your Password?</h4>
        <p class="card-text">
          <small class="text-muted">Click here to reset your password.</small>
        </p>
      </div>
    </a>
  </div>
  <div class="card">
    <a href=".#/pwm/change" class="card-block clearfix">
      <img class="card-img-top" src="../../assets/images/change-pwd.png" alt="Change Password Image">
      <div class="card-block">
        <h4 class="card-title">Change Your Password</h4>
        <p class="card-text">
          <small class="text-muted">Click here to change your current password.</small>
        </p>
      </div>
    </a>
  </div>
  <div class="card">
    <a href=".#/users/new" class="card-block clearfix">
      <img class="card-img-top" src="../../assets/images/add-user.png" alt="Create User Image">
      <div class="card-block">
        <h4 class="card-title">Create New User</h4>
        <p class="card-text">
          <small class="text-muted">Click here to add a new user to your account.</small>
        </p>
      </div>
    </a>
  </div>
</div>
